const firebaseConfig = {
  apiKey: "AIzaSyBN4-4s41FCbaCHyqwHbKBHID5Z7DZlQ_I",
  authDomain: "atozservicehub-a94b3.firebaseapp.com",
  databaseURL: "https://atozservicehub-a94b3-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "atozservicehub-a94b3",
  storageBucket: "atozservicehub-a94b3.firebasestorage.app",
  messagingSenderId: "29100632871",
  appId: "1:29100632871:web:c5cef6dd8a54861e711702"
};
